# Web / API
PORT=3000
TCP_PORT=4000

# DB
MONGODB_URI=mongodb://localhost:27017/drawnow

# RabbitMQ (compatible con estilo de laboratorio)
RABBIT_URL=amqp://drawnow:drawnow123@localhost:5672/%2f

# Seguridad
JWT_SECRET=change_this_super_secret
ADMIN_SECRET=admin123
INTERNAL_SERVICE_TOKEN=drawnow_internal_service_dev

# OAuth Google (opcional en local)
# GOOGLE_CLIENT_ID=
# GOOGLE_CLIENT_SECRET=
# GOOGLE_CALLBACK_URL=http://localhost:3000/api/auth/google/callback

# Consumos internos (opcional)
WS_HOST=localhost
# NODE_ID=nodeA
